<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Fuzzy Umberlla", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log In",  new_user_session_path %></li>
      </ul>
    </nav>
  </div>
</header>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<footer class="footer">
  <small>
    <a href="https://fustany.com/en">Fustany Official Webstie</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/Fustany">Facebook Page</a></li>
    </ul>
  </nav>
</footer>
