<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless user_signed_in? %>
  <%= link_to 'New User', new_user_registration_path %><br />
  <%= link_to 'Sign In', new_user_session_path %>
<% else %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% end %>
