<p id="notice"><%= notice %></p>
<p>
  <strong>User:</strong>
  <%= @favoritelist.user.name %>
</p>
<% @products.each do |product| %>
  <li id="product-<%= product.id %>">
    <span class="content">
      Product: <%= product.name %>,
      Price: <%= product.price %> EGP,
      Category: <%= product.category.name %>
      <td><%= link_to 'Show', product %></td>
    </span>
  </li>
  <% end %>
<%= link_to 'Home', root_path %>
