<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Fuzzy Umberlla", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "My Favorite list", user_favoritelist_path %></li>
        <li><%= link_to "New Product", new_product_path %></li>
        <li><%= link_to "New Category", new_category_path %></li>
        <li><%= link_to "Log out",  destroy_user_session_path, method: :delete %></li>
      </ul>
    </nav>
  </div>
</header>
<h1>New Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Back', categories_path %>
<footer class="footer">
  <small>
    <a href="https://fustany.com/en">Fustany Official Webstie</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.facebook.com/Fustany">Facebook Page</a></li>
    </ul>
  </nav>
</footer>
