<p id="notice"><%= notice %></p>

<h1>Fuzzy Umberlla</h1>

<form method="get" action="<%= products_path %>">
  <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name") %> |
  <button type="submit" value=category_id>Filter</button>
</form>

<form method="get" action="<%= products_path %>">
  <button type="submit" value=category_id>Unfilter</button>
<form>  |
<%= link_to 'My Favorite list', user_favoritelist_path %> |
<%= link_to 'New Product', new_product_path %>|
<%= link_to 'Sign out', destroy_user_session_path, method: :delete  %>

<ul>
  <% @products.each do |product| %>
    <li id="product-<%= product.id %>">
      <span class="content">
        Product: <%= product.name %>,
        Price: <%= product.price %> EG,
        Category: <%= product.category.name %>
        <td><%= link_to 'Show', product %></td>
      </span>
    </li>
  <% end %>
</ul>
