<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Category:</strong>
  <%= @product.category.name %>
</p>
<% if current_user %>
  <%= link_to "Favorite",   favorite_favoritelist_path(product_id: @product.id, type: "favorite"), method: :put %>
  <%= link_to "Unfavorite", favorite_favoritelist_path(product_id: @product.id, type: "unfavorite"), method: :put %>
<% end %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %> |
<%= link_to 'Home', root_path %>
